# Created by https://www.toptal.com/developers/gitignore/api/intellij,helm
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij,helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

### Intellij ###
.idea
